<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container mt-4">
    <h2>Listado de Clientes</h2>
    <a href="/clientes/nuevo" class="btn-ghost">Agregar Cliente</a>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Foto</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Compra 1</th>
            <th>Compra 2</th>
            <th>Compra 3</th>
            
            <th>Promedio Final</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente:${clientes}">
            <td><img th:src="@{/uploads/images/{img}(img=${cliente.foto})}" width="60" height="60" style="object-fit: cover; border-radius: 50%"> </td>
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.edad}"></td>
            <td th:text="${cliente.compra1}"></td>
            <td th:text="${cliente.compra2}"></td>
            <td th:text="${cliente.compra3}"></td>
            <td th:text="${cliente.promedioCompras}"></td>
            <td>
                <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="btn-base btn-edit">Editar</a>
                <a th:href="@{/clientes/eliminar/{id}(id=${cliente.id})}" class="btn-base btn-delete" onclick="return confirm('¿Seguro que deseas eliminar este cliente?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    
</div>
</body>
</html>
