<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container mt-4">
    <h2 th:text="${cliente.id == 0} ? 'Agregar Cliente' : 'Editar Cliente'"></h2>
    <form th:action="${cliente.id==0} ? @{/clientes/guardar} : @{/clientes/actualizar}" th:object="${cliente}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required />
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" th:field="*{apellido}" required />
        </div>
        <div class="mb-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" th:field="*{edad}" required />
        </div>
        <div class="mb-3">
            <label for="compra1" class="form-label">Compra 1</label>
            <input type="number" step="0.01" class="form-control" id="compra1" th:field="*{compra1}" required />
        </div>
        <div class="mb-3">
            <label for="compra2" class="form-label">Compra 2</label>
            <input type="number" step="0.01" class="form-control" id="compra2" th:field="*{compra2}" required />
        </div>
        <div class="mb-3">
            <label for="compra3" class="form-label">Compra 3</label>
            <input type="number" step="0.01" class="form-control" id="compra3" th:field="*{compra3}" required />
        </div>
        <div class="mb-3">
        <label class="form-label">Ruta Archivo</label>
        <input type="file" class="form-control" name="archivo">
        </div>
        <button type="submit" class="btn btn-primary btn-base">Guardar</button>
        <a href="/clientes" class="btn btn-secondary btn-base">Cancelar</a>
    </form>
</div>
</body>
</html>